<div id="content" *ngIf="currentMessage.content.length > 0" class="d-flex flex-column justify-content-center"  >
    <div *ngFor="let content of currentMessage.content" style="min-height:10px" >
        <p [innerHTML]="content.content" *ngIf="!content.isLink && !isContentForForm(content)"></p>
        <div *ngIf="isContentForForm(content)" style="width:100%" class="d-flex flex-column align-items-center">
            <button class="btn btn-primary" (click)="openForm(content)"  >{{content.content}}</button>
        </div>
        <a *ngIf="content.isLink" href="{{content.link}}" target="_blank" >{{content.content}}</a>
    </div>
</div>
<div id="answers" class="d-flex flex-wrap justify-content-center" >
    <button 
        *ngFor="let answer of currentMessage.answers" 
        (click)="updateMessage(answer.nextMessageId)" 
        class="btn btn-primary m-2"
        aria-live="assertive"
        [attr.aria-label]="answer.content">{{answer.content}}</button>
</div>
<div *ngIf="currentMessage.id === 1">
    <app-city-selector [citySubject$]="citySubject$" [selectedCity]="currentCity"></app-city-selector>
</div>
