<div id="content" *ngIf="currentMessage.content.length > 0" class="d-flex flex-column align-items-center justify-content-center"  >
    <div *ngFor="let content of currentMessage.content">
        <p class="text-center" *ngIf="!content.isLink && !isContentForForm(content)">{{content.content}}</p>
        <button class="text-center btn btn-primary" (click)="openForm(content)" *ngIf="isContentForForm(content)" >{{content.content}}</button>
        <a class="text-center" *ngIf="content.isLink" href="{{content.link}}" target="_blank" >{{content.content}}</a>
    </div>
</div>
<div id="answers" class="d-flex flex-wrap justify-content-center" >
    <button 
        *ngFor="let answer of currentMessage.answers" 
        (click)="updateMessage(answer.nextMessageId)" 
        class="btn btn-primary m-2"
        aria-live="assertive"
        [attr.aria-label]="answer.content">{{answer.content}}</button>
</div>
<div *ngIf="currentMessage.id === 1">
    <app-city-selector [citySubject$]="citySubject$" [selectedCity]="currentCity"></app-city-selector>
</div>
