@import '../../../styles.scss';

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 500px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    background-color: darken(white, 5%);
    border-radius: 10px;
    padding: 30px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
        width: 100%;
        min-width: 0;
        padding: 0;
        margin:0;
        background-color: white;
    };
}

#form-container {
    width: 100%;
}

.btn-primary {
    
    border: none;
    width: 100%;

    &:disabled {
        cursor: not-allowed;
        background-color: gray;
    }

    @media screen and (max-width: 768px) {
        width: 50%
    }
}

#loading {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#success {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);   /* Couleur grise claire du cercle */
    border-radius: 50%;                           /* Cercle parfait */
    border-top: 8px solid #000;                   /* Couleur du secteur supérieur du cercle */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;           /* Animation pour faire tourner le spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}