<div id="container">
  <div #formContainer id="form-container" *ngIf="formDisplay !== undefined">
    <app-fb-form class="form" id="fb-form" [ngClass]="{isMobile: isMobile}" *ngIf="formDisplay === formNames.FBFORM"></app-fb-form>
    <app-fmn-form class="form" id="fmn-form" [ngClass]="{isMobile: isMobile}" *ngIf="formDisplay === formNames.FMNFORM"></app-fmn-form>
    <app-fd-form class="form" id="fd-form" [ngClass]="{isMobile: isMobile}" *ngIf="formDisplay === formNames.FDFORM"></app-fd-form>
    <app-fma-form class="form" id="fma-form" [ngClass]="{isMobile: isMobile}" *ngIf="formDisplay === formNames.FMAFORM"></app-fma-form>
    <app-fnp-form class="form" id="fnp-form" [ngClass]="{isMobile: isMobile}" *ngIf="formDisplay === formNames.FNPFORM"></app-fnp-form>
    <app-fcs-form class="form" id="fcs-form" [ngClass]="{isMobile: isMobile}" *ngIf="formDisplay === formNames.FCSFORM"></app-fcs-form>
  </div>
  <div id="loading" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>

  <div id="success" *ngIf="isSentSuccessfull">
    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#63E6BE" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
    <p class="text-center">Nous avons bien reçu votre formulaire, nous vous recontacterons sous peu.</p>
  </div>
  <button 
    (click)="sendForm()"
    [disabled]="isDisabled"
    class="btn btn-primary" 
    style="margin: 20px; width:100%">Envoyer</button>
</div>