:host {
    width: 400px;
    min-height: 500px;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    overflow: hidden;
}

#chatbot-header {
    width: 100%;
    flex: 0 0 auto;
}

#chatbot-body {
    width: 100%;
    flex: 1 1 auto;
}

#chatbot-footer {
    width: 100%;
    flex: 0 0 auto;
}