@import '../../styles.scss';

#chatContent {

    height: max-content;

    width: 400px;
    min-height: 300px;
    max-height: 90vh;

    transition: height 0.3s;

    display: flex;
    flex-direction: column;

    background-color: whitesmoke;

    border-radius: 20px;
}

#chatContent.isMobile {
    width: 95vw;
    height: 95vh;

    position: fixed;
    bottom: 2.5vh;
    left: 2.5vw;
}

#header {
    background-color: $main-blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#close-button {
    fill: white; 

    cursor: pointer;
}

#messages-container {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#restart-button {
    margin-bottom: 10px;
    margin-top: auto;

    color: white; 
    fill: white;

    background-color: $main-blue;
    border: none;
    border-radius: 10px;
}

#restart-button.isMobile {
    margin: 10px 10px 10px auto;
}