@import '../../styles.scss';

form {

    position: relative;

    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 20px
}


input, textarea {
    padding: 5px;
    border-radius: 5px;

    border: 2px solid $main-blue;

    width: 100%;
}

ng-select {
    border: 2px solid $main-blue;
}