@import '../../../styles.scss';

#content {

    padding: 10px;
    margin: 10px;

    border-radius: 10px;
    border: 1px solid $main-blue;

    background-color: white;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

p {
    margin: 0;
    text-align: justify;
}

.btn-primary {
    background-color: $main-blue;
    border: none;
}

.line {
    width: 80%;
    margin: 10px auto;
    height: 1px;
    background-color: $main-blue;
}