@import '../../../styles.scss';

#open-chatbot-button {

    width:100px;
    height:100px;
    padding:0;
    background-color: transparent;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }

}

#main-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}