@import '../../../styles.scss';

#open-chatbot-button {

    width:100px;
    background-color: transparent;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }

}


#open-chatbot-button .chatbot-icon {
    width: 50px;
    height: 50px;

    fill: white;
}

.form {
    display: block;
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 50%;
    transform: translateX(50%);
    overflow: auto;
}

.form.isMobile {
    width: 90%;
    margin: auto;
    transform: translateX(5%)
}

#main-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}