<form [formGroup]="fmaForm" >
    <h2>Formulaire de modification d'adresse :</h2>
    <label for="name">Nom :</label>
    <input type="text" formControlName="name" id="name" name="name">
    <label for="firstname">Prénom :</label>
    <input type="text" formControlName="firstname" id="firstname" name="firstname">
    <label for="mail">Mail :</label>
    <input type="text" formControlName="mail" id="mail" name="mail">
    <label for="incorrectAddress">Adresse incorrecte :</label>
    <input type="text" formControlName="incorrectAddress" id="incorrectAddress" name="incorrectAddress">
    <label for="correctAddress">Adresse correcte :</label>
    <input type="text" formControlName="correctAddress" id="correctAddress" name="correctAddress">
    <label for="cartographyLink">Lien cartographique :</label>
    <input type="text" formControlName="cartographyLink" id="cartographyLink" name="cartographyLink">
    <label for="map-picture" >Image de la carte :</label>
    <app-image-input #picture [text]="'Image de la carte'"></app-image-input>
    <label for="attachedPiece">Certificat de numérotation ou d’adressage délivré par la mairie :</label>
    <app-pdf-input #attachedPiece></app-pdf-input>
    <label for="comment">Commentaire :</label>
    <textarea formControlName="comment" id="comment" name="comment"></textarea>
</form>
