<form [formGroup]="fcsForm" >
    <h2>Formulaire de convention signée :</h2>
    <label for="name">Nom :</label>
    <input type="text" formControlName="name" id="name" name="name">
    <label for="firstname">Prénom :</label>
    <input type="text" formControlName="firstname" id="firstname" name="firstname">
    <label for="mail">Mail :</label>
    <input type="text" formControlName="mail" id="mail" name="mail">
    <label for="address">Adresse des logements concernés :</label>
    <input type="text" formControlName="address" id="address" name="address">
    <label for="conventionDate">Date du dépôt de la convention signée :</label>
    <input type="date" formControlName="conventionDate" id="conventionDate" name="conventionDate">   
    <label fpr="picture" >Pièce jointe convention signée :</label>
    <app-pdf-input #conventionInput ></app-pdf-input>
    <label for="comment">Commentaire :</label>
    <textarea formControlName="comment" id="comment" name="comment"></textarea>
</form>
